html {
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/*
 * Structure
*/
#header {
  height: 200px;
  margin: 0 auto;
}

#main {
  z-index: 2;
  position: relative;
}

#footer {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  position: relative;
  z-index: 2;
  height: 80px;
  min-height: 80px;
  margin-top: 20px;
}

#byline {
  text-align: center;
  margin: 0 auto;
}

#logo {
  width: 482px;
  margin: 200px auto 0;
}

#intro {
  width: 51%;
  margin: 50px auto 0;
  padding-left: 4px;
  padding-right: 4px;
}

#info {
  width: 52%;
  margin: 0 auto;
  text-align: left;
  height: 180px;
  min-height: 180px;
  margin-top: 40px;
  margin-bottom: 20px;
}


#newsletter, #twitter, #volunteer {
  float: left;
}

#newsletter {
  width: 30%;
}

#twitter {
  width: 40%;
}

#volunteer {
  width: 30%;
}

img {
  max-width: 100%;
}

/*
 * Type and colour
*/
body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #4f4f4f;
}
#main, #main h2 {
  font-family: 'Ubuntu', Arial, sans-serif;
  font-size: 22px;
  color: #0e6eae;
}
#intro {
  color: #4f4f4f;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 15px;
}
.highlight {
  font-weight: bold;
}

#footer {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #666;
}

/*
 * Links
*/
#main a {
  text-decoration: none;
}
a:link {
  color: #0071bd;
}
a:visited {
  color: #0071bd;
}
a:hover {
  color: #005085;
}
a:active {
  color: #0071bd;
}

#newsletter a {
  padding: 15px 0px 15px 60px;
  background: url('../img/newsletter-icon.png') 0px 0px no-repeat transparent scroll;
}

#twitter a {
  padding: 15px 0px 15px 60px;
  background: url('../img/twitter-icon.png') 0px 0px no-repeat transparent scroll;
}

#volunteer a {
  padding: 15px 0px 15px 60px;
  background: url('../img/volunteer-icon.png') 0px 0px no-repeat transparent scroll;
}

/*
 ** Responsive screens
 */
@media all and (min-width: 1251px) {
  body {
    background: url('../img/bg.jpg') transparent no-repeat top center;
  }  
  #waves {
    position: relative;
    z-index: 1;
    height: 420px;
    width: 1920px;
  }
  #wave1 {
    position: absolute;
    z-index: 1;
    height: 420px;
    background: url('../img/wave1.png') top center no-repeat;
    top: -100px;
    width: 100%;
    left: -50px;
  }
  #wave2 {
    position: absolute;
    z-index: 1;
    height: 420px;
    background: url('../img/wave2.png') top center no-repeat;
    top: -80px;
    width: 100%;
    left: -50px;
  }

  #main h2 {
    font-size: 19px;
 }
 
 #newsletter a, #twitter a, #volunteer a {
  padding-bottom: 20px;
 }
 
 #byline {
   width: 70%;
 }
}
 
@media all and (min-width: 961px) and (max-width: 1250px) {
  body {
    background: url('../img/bg.jpg') transparent no-repeat top center;
  }  
  #waves {
    position: relative;
    z-index: 1;
    height: 420px;
    width: 1920px;
  }
  #wave1 {
    position: absolute;
    z-index: 1;
    height: 420px;
    background: url('../img/wave1.png') top center no-repeat;
    top: -100px;
    width: 100%;
  left: -50px;
  }
  #wave2 {
    position: absolute;
    z-index: 1;
    height: 420px;
    background: url('../img/wave2.png') top center no-repeat;
    top: -80px;
    width: 100%;
    left: -50px;
  }
  #main h2 {
   font-size: 13px;
 }
 
 #newsletter a, #twitter a, #volunteer a {
   padding-bottom: 25px;
 }
}
 
@media all and (max-width: 960px) {
  
  body, html {
    width: 100%; overflow-x: hidden;
  }
  body {
    background: url('../img/bg.jpg') transparent no-repeat top center;
  }  
  #waves {
    position: relative;
    z-index: 1;
    height: 420px;
    width: 1920px;
  }
  #wave1 {
    position: absolute;
    z-index: 1;
    height: 420px;
    background: url('../img/wave1.png') top center no-repeat;
    top: -100px;
    width: 100%;
  left: -50px;
  }
  #wave2 {
    position: absolute;
    z-index: 1;
    height: 420px;
    background: url('../img/wave2.png') top center no-repeat;
    top: -80px;
    width: 100%;
    left: -50px;
  }  
  
  #newsletter, #twitter, #volunteer {
    float: none;
    width: 100%;
    height: 2.1em;
    text-align: left;
  }
  #intro { width: 80%; }
  #info { width: 82%; }
   
  #main h2 {
    font-size: 22px;
  }
 
 #byline {
   width: 90%;
 }
 img {
   max-width: 100%;
 }
}

@media all and (min-device-width: 768px), and (orientation: portrait) {
  #wave1, #wave2: display: none;
}

@media all and (max-width: 480px) {
  body {
    background-color: #e5d7b1;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
  }

  #wave1, #wave2 {
    background: none;
  } 

  #header {
    height: 100px;
  }

  #logo {
    width: 80%; overflow-x: hidden;
    margin: 20% auto 0; 
  }
  #logo img {
    width: 100%; overflow-x: hidden;
  }
    
  #info { width: 84%; }
  
  #main h2 {
    font-size: 18px;
  }
  
  #newsletter a, #twitter a, #volunteer a {
    padding-bottom: 20px;
  }
  #byline {
    width: 100%;
  }
  #footer {
    padding-bottom: 20px;
  }
}